.section_musics {
    padding: 40px 0 40px 0;
}

.section_musics_title {
    font-weight: 600;
    font-size: 24px;
    padding: 12px 0 20px 0;
}

.album_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.album_card {
    width: 308px;
    height: 455px;
    background-color: var(--grey-7) !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.dark_mode .album_card {
    background-color: var(--grey-2) !important;
    color: var(--grey-8);
    border-radius: 5px;
}

.album_card:hover {
    background-color: var(--grey-6) !important;
}

.dark_mode .album_card:hover {
    background-color: var(--grey-3) !important;
}

.album_card--img {
    width: 100%;
    height: 18.125rem;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.album_card--paragraph {
    font-weight: 600;
    font-size: 22px;
    padding-left: 12px;
}

.album_card--info {
    display: flex;
    justify-content: space-between;
    height: 27px;
    padding: 0 12px 0 12px
}

.album_card--buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 10px 12px;
    font-weight: 600;
}

.album_card--value {
    font-size: 19px;
}

.album_card--button {
    width: 87px;
    height: 40px;
    background-color: var(--brand-1);
    color: var(--grey-9);
    border: 2px solid var(--brand-1);
    border-radius: 4px;
}

.album_card--button:hover {
    background-color: blueviolet;
    border: 2px solid blueviolet;
    cursor: pointer;
}
