.type_gender {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.type_gender--button{
    background-color: var(--grey-6);
    border-radius: 4px;
    border: 2px solid var(--grey-6);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0px 7px 0px 7px;
    font-weight: 400;
    cursor: pointer;
}

.selected {
    background-color: var(--grey-8) !important;
    color: var(--grey-2) !important;
    border: 2px solid var(--grey-2) !important;
}

.dark_mode .type_gender--button {
    background-color: var(--grey-2);
    color: var(--grey-8);
    border: 2px solid var(--grey-2);
}

.dark_mode .type_gender--button:hover{
    background-color: var(--grey-8);
    color: var(--grey-2);
    border: 2px solid var(--grey-8);
}

.type_gender--button:hover {
    background-color: var(--grey-8);
    color: var(--grey-2);
    border: 2px solid var(--grey-2);
}

.section_gender--title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 40px;
}